*~
*.pyc
settings_local.py
.idea
*.log
*.tar.gz
*.tgz
*.gz
*.tar
*.pyo
*.png
*.jpg
*.JPEG
*.jpeg
*.zip
*.swo
media/images
media/upload
media/upload
media/files/
media/1
static/
1/
2/
gunicorn_run.sh
*.swp
*.swo
locale/
media/filer_public/
distrib/
